@font-face{
    font-family: "Druk Text Wide";
    src: url("druktextwide.otf")
}
body{
    padding:0;
    margin:0;
}

.topnav{
    position:fixed;
    top:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#44290B;
    font-size: 30px;
    font-family: "europa", sans-serif;
    display:flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.topnav a{
    color:#FFF0CF;
    margin-right: 80px;
    margin-left: 80px;
}

.container{
    position:relative;
    text-align: left;
    color:#FFF0CF;
    animation: fadeInUp;
    animation-duration:1s;
}
img{
    width:100%;
}
img.homecards{
    animation-duration:2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
img.homecards:hover{
    animation-name:heartBeat;
    animation-timing-function: ease;
}
@keyframes heartBeat{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.title{
    font-family: Druk Text Wide;
    font-size: 130px;
    width:80%;
    position: absolute;
    bottom:80px;
    left:80px;
}
.title2{
    font-family: Druk Text Wide;
    font-size: 130px;
    text-align:center;
    bottom:80px;
    left:80px;
    color:#44290B;
}
.header-2{
    margin-left: 80px;
    font-family: Druk Text Wide;
    font-size: 50px;
    color: #44290B;
    padding-top: 40px;
    margin-bottom:20px;
}
section.box{
    margin-left:80px;
    width:50%;
    background-color:#966414;
    padding-top: 5px;
    padding-bottom:5px;
}
.box p{
    color:#FFF0CF;
    animation: fadeInLeft;
    animation-duration:1s;
}
.checked{
    color: #FF8B68;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color: #44290B;
    display:flex;
    margin-left:80px;
    width: 50%;
}

.giantlogo{
    display:block;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:120px;
    padding-bottom:40px;
}
section.gallery {
    margin-left:85px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}
.card {
    width:500px;
    height:500px;
    overflow:hidden;
}
.card-gc{
    width:500px;
    height:350px;
    overflow:hidden;
}
.card img {
    width:auto;
    height:110%;
    object-fit:cover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.card img:hover{
    animation-name:rubberBand;
    animation-timing-function: ease;
}
@keyframes rubberBand{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.card img.adjust {
    width:auto;
    height:120%;
    object-fit:cover;
}
.footer{
    top:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color:#44290B;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.footer p{
    color:#FFF0CF;
    font-family: "europa", sans-serif;
}