@font-face{
    font-family: "Druk Text Wide";
    src: url("druktextwide.otf")
}
body{
    padding:0;
    margin:0;
}

.topnav{
    position:fixed;
    top:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#44290B;
    font-size: 30px;
    font-family: "europa", sans-serif;
    display:flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}
.topnav a{
    color:#FFF0CF;
    margin-right: 80px;
    margin-left: 80px;
}

.container{
    position:relative;
    text-align: left;
    color:#FFF0CF;
}
img{
    width:100%;
}
.title{
    font-family: Druk Text Wide;
    font-size: 150px;
    position: absolute;
    bottom:80px;
    left:80px;
}
.title2{
    font-family: Druk Text Wide;
    font-size: 150px;
    justify-content:center;
    bottom:80px;
    left:80px;
}
.header-2{
    margin-left: 80px;
    font-family: Druk Text Wide;
    font-size: 50px;
    color: #44290B;
    padding-top: 40px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color: #44290B;
    display:flex;
    margin-left:80px;
    width: 50%;
}
section.gallery {
    margin-left:85px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}
.card {
    width:500px;
    height:500px;
    object-fit:cover;
}